<div class="container-fluid margin-top-s">
  <div class="row justify-content-md-center">
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3" routerLink="/details/10000">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">City</h5>
          <img src="assets/img/clear.png" alt="clear" />
          <h1>&deg;C</h1>
          <div>Forecast text</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3" routerLink="/details/10000">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">City</h5>
            <img src="assets/img/cloudy.png" alt="cloudy" />
            <h1>&deg;C</h1>
            <div>Forecast text</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 mb-3" routerLink="/details/10000">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">City</h5>
            <img src="assets/img/partly_cloudy.png" alt="partly_cloudy" />
            <h1>&deg;C</h1>
            <div>Forecast text</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 mb-3" routerLink="/details/10000">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">City</h5>
            <img src="assets/img/rain.png" alt="rain" />
            <h1>&deg;C</h1>
            <div>Forecast text</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 mb-3" routerLink="/details/10000">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">City</h5>
            <img src="assets/img/snow.png" alt="snow" />
            <h1>&deg;C</h1>
            <div>Forecast text</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 mb-3" routerLink="/details/10000">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">City</h5>
            <img src="assets/img/clear.png" alt="clear" />
            <h1>&deg;C</h1>
            <div>Forecast text</div>
          </div>
        </div>
      </div>
  </div>
</div>
