<div class="container">
    <div class="row">
        <h2>Weather Details</h2>
    </div>
    <div class="card text-center">
      <div class="card-body">
          <h5 class="card-title">{{weatherDetails.name | uppercase}}</h5>
          <hr>
          <div class="d-flex justify-content-around mb-3 row">
              <div *ngFor="let forecast of weatherDetails.fiveDayForecast" class="col-lg-3 col-md-4 col-sm-12">
                <img src="assets/img/{{forecast.icon | lowercase}}.png" alt="clear" />
                <h6 *ngIf="unit === 'C'">{{forecast.tempC}}&deg;C</h6>
                <h6 *ngIf="unit === 'F'">{{forecast.tempF}}&deg;F</h6>
                <div>{{forecast.forecast}}</div>
              </div>
          </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary mt-3" routerLink="/dashboard">Back</button>
</div>
