<div class="container">
    <div class="row">
        <h2>Weather Details</h2>
    </div>
    <div class="card text-center">
      <div class="card-body">
          <h5 class="card-title">City</h5>
          <hr>
          <div class="d-flex justify-content-around mb-3">
              <div>
                <img src="assets/img/clear.png" alt="clear" />
                <h6>&deg;C</h6>
                <div>Forecast text</div>
              </div>
          </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary mt-3" routerLink="/dashboard">Back</button>
</div>
